<!--The content below is only a placeholder and can be replaced.-->
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1>{{title}}</h1>
          <form role="form" autocomplete="off">
            <div class="form-group">
              <label for="firstName" class="sr-only">Name</label>
              <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Username" #first>
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" #password>
            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block btn-primary" value="Login">
          </form>
          <hr>
        </div>
      </div>
      <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>